###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/csx/
/**/obj/
/**/xdocoutput/
/**/node_modules/
/**/*.sln.ide/
/TestResults/
/.vs/
.NuGet/
artifacts/
target/
/**/_site/
/**/reader/
.vscode/
.vs/

###############
#  temp file  #
###############
*.nupkg
*.log
*.tmp
*.vsprops
*.suo
*.user
*.userprefs
*.sdf
*.sln.ide
*.cache
*.sln.metaproj
.settings
log.txt
debugSettings.json
launchSettings.json
project.lock.json
